<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.guzx.user.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="pers.guzx.user.entity.User">
        <id column="user_id" javaType="Integer" jdbcType="INTEGER" property="userId"/>
        <result column="username" javaType="String" jdbcType="VARCHAR" property="userName"/>
        <result column="birthday" javaType="Date" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="sex" javaType="String" jdbcType="VARCHAR" property="sex"/>
        <result column="password" javaType="String" jdbcType="VARCHAR" property="password"/>
        <result column="phone" javaType="String" jdbcType="VARCHAR" property="phone"/>
        <result column="email" javaType="String" jdbcType="VARCHAR" property="email"/>
        <result column="create_time" javaType="Date" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" javaType="Date" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
</mapper>